<%= render :partial => 'form'%>
<h1>業務員管理系統</h1>
<table>
  <tr>
  <% @salesmen.each do |salesman|%>
 	<td>
	  <%= salesman.name %>
	</td>
	<td>
	  <%= link_to 'Show', salesman_path(salesman) %>
	</td>
	<td>
	  <%= link_to 'Edit', edit_salesman_path(salesman, :page => params[:page]) %>
	  </td>
	<td>
	  <%= link_to 'Delete', salesman_path(salesman, :page => params[:page]), :method => :delete, :data => {:confirm => "Are you sure?"}%>
	  </td>
	<td>
		
	</td>
	<td>
		
	</td>
	<td>
		
	</td>
	<td>
		
	</td>
	<td>
		
	</td>
	<br>
  </tr>
</table>
<%end %>

<%= paginate @salesmen %>

<%= link_to 'new' %>

	<%= form_for @salesman do |f| %> 

    	<%= f.label :name, "Name" %>
    	<%= f.text_field :name %>
	  
    	<%= f.label :email, "Email" %>
    	<%= f.text_field :email %>
	 
    	<%= f.label :agent_id, "Agent_id" %>
    	<%= f.text_field :agent_id %>
	    <%= f.submit "save" %>	
 
	<%end%>

