<h1>業務員管理系統</h1>
<table>
  <tr>
  <% @salesmen.each do |salesman|%>
 	<td>
 	  <%= salesman.id %>
 	</td>
	<td>
	  <%= salesman.name %>
	</td>
	<td>
	  <%= link_to 'show', salesman_path(salesman) %>
	</td>
	<td>
	  <%= link_to 'edit', edit_salesman_path(salesman) %>
	  </td>
	<td>
	  <%= link_to 'delete', salesman_path(salesman) %>
	  </td>
	<td>
		
	</td>
	<td>
		
	</td>
	<td>
		
	</td>
	<td>
		
	</td>
	<td>
		
	</td>

  <%end %>
  </tr>
</table>
