
<table>
	<tr>
		<td><%= @salesman.id %></td>
		<td><%= @salesman.name %></td>
		<td><%= @salesman.email %></td>
		<td><%= @salesman.agent_id %></td>
	</tr>
</table>

<%= link_to "回首頁" , salesmen_path %>
