<h1>業務員</h1>
<table class = "table table-bordered">
	<tr>
		<td><%= @salesman.id %></td>
		<td><%= @salesman.name %></td>
		<td><%= @salesman.email %></td>
		<td><%= @salesman.agent_id %></td>
		<td><%= @salesman.date %></td>
		<td><%= @salesman.time %></td>
	</tr>
</table>

<%= link_to "回首頁" , salesmen_path,class:"btn btn-primary" %>
